[user]
	email = me@bcc32.com
	name = Aaron L. Zeng
[alias]
	co = checkout
	ci = commit
	st = status -s
	br = branch
	type = cat-file -t
	dump = cat-file -p
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	lol = log --graph --oneline --decorate --color --all
	wow = log --graph --oneline --decorate --color --all --simplify-by-decoration
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = ~/.cvsignore
[diff]
	algorithm = patience
	guitool = gvimdiff
	tool = vimdiff
[merge]
	conflictStyle = diff3
