[alias]
	br = branch
	ci = commit
	co = checkout
	st = status -s
	dump = cat-file -p
	type = cat-file -t
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	lol = log --graph --oneline --decorate --color --all
	wow = log --graph --oneline --decorate --color --all --simplify-by-decoration
[core]
	autocrlf = input
	excludesfile = ~/.cvsignore
[diff]
	algorithm = histogram
	guitool = gvimdiff
	tool = vimdiff
[fetch]
	prune = true
	pruneTags = true
[merge]
	conflictStyle = diff3
[push]
	default = simple
[rerere]
	autoUpdate = true
	enabled = true
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpuser = zeng.aaron.l@gmail.com
[user]
	email = me@bcc32.com
	name = Aaron L. Zeng
