[submodule "emacs/.spacemacs.d"]
	path = emacs/.spacemacs.d
	url = git@github.com:bcc32/spacemacsd.git
[submodule "vim/.vim/ocp-indent-vim"]
	path = vim/.vim/ocp-indent-vim
	url = https://github.com/let-def/ocp-indent-vim
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-battery"]
	path = tmux/.tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
