Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: xcursor-breeze

XTerm*selectToClipboard: true

URxvt.depth: 32
URxvt.font: xft:Iosevka Term:size=13:antialias=true
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*saveLines: 5000

Emacs.font: Iosevka-15
#include ".Xresources.d/solarized"
